<!DOCTYPE html>
<html lang="en">
<head>
    <title>CONTACT US</title>
    <link rel="stylesheet" href="/static/style/style.css"></head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">BIBEK(L)</h2>
            </div>

            <div class="menu">
                <ul>
                  <li><a href="{% url 'home' %}">HOME</a></li>
                  <li><a href="{% url 'about' %}">ABOUT</a></li>
                  <li><a href="{% url 'preatics' %}">OUR PREATICLE </a></li>
                  <li><a href="{% url 'design' %}">OUR MSTI</a></li>
                  <li><a href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To search">
                <a href="#"> <button class="btn">Search</button></a>

            </div>
             <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Berhampur,ganjam</div>
          <div class="text-two">761054</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 9284781070</div>
          <div class="text-two">+91 0000000000</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">bibekjena789@@gmail.com</div>
          <div class="text-two">....@gmail.com</div>
        </div>
      </div>
      </form>
    </div>
    </div>
  </div>

        </div> 
    </div>
</body>
</html>